{% block departments %}
<div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>

                        <ul>
                            <li><a href="/category/FRUIT">Fruits</a></li>
                            <li><a href="/category/VEGETABLE">VEGETABLE</a></li>

                            <li><a href="/category/LIQUID">Liquid</a></li>
                            <li><a href="/category/DAIRY">Dairy</a></li>
                            <li><a href="/category/GROCERY">Grocery</a></li>
                        </ul>
                    </div>
{% endblock departments %}