<!DOCTYPE html>
<html lang="en">
<head>
    <title>Order Report</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/core/img/favicon.png" type="image/gif/png" sizes="16x16">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Baumans&family=Montserrat+Alternates:wght@600&family=Orbitron:wght@500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/core/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/core/css/style.css">

    <style>
        .row a button:hover {
            border: none;
        }

    </style>
</head>
<body>
{% if user.is_superuser %}
<hr>
<div>
    <h3 style="text-align: center;">Order Report</h3>
</div>
<div style="width: 90%; margin: auto; padding-bottom: 50px;">
    <div class="row" style="padding-bottom: 40px;">
        <div style="float: left; padding-left: 1%;">
            <h5>Hello, {{user.first_name}} {{user.last_name}}</h5>
        </div>
        <div style="float: right;">
            <a href="http://127.0.0.1:8000/admin/" style="text-decoration: none; color: white;">
                <button type="button" class="btn btn-success"
                        style="position: absolute; font-weight: bold; right: 5%; background-color: #7fad39;">
                    Go Back to Dashboard
                </button>
            </a>
        </div>
    </div>
<!--    for search orders-->
<!--    <div class="row" style="width: 60%;">-->
<!--        <div class="form-group col-sm">-->
<!--            <label for="from"> Date from:</label>-->
<!--            <input style="width: 80%;" value="{{orders.created_at}}" id="from" type="date" class="form-control"-->
<!--                   name="from_date">-->
<!--        </div>-->
<!--        <div class="form-group col-sm">-->
<!--            <label for="to"> Date to:</label>-->
<!--            <input style="width: 80%;" value="{{orders.created_at}}" id="to" type="date" class="form-control"-->
<!--                   name="to_date">-->
<!--        </div>-->
<!--        <div style="padding: 30px 0px;" class="form-group col-sm">-->
<!--            <button type="submit" class="btn btn-primary">Search</button>-->
<!--        </div>-->
<!--    </div>-->
<!--for search orders end    -->

    <form method="post">
        {% csrf_token %}
        <div class="row" style="width: 60%;">
            <div class="form-group col-sm">
                <label> From Date:</label>
                <input type="date" name="from_date">
            </div>
            <div class="form-group col-sm">
                <label> To Date:</label>
                <input type="date" name="to_date">
            </div>
            <div class="form-group col-sm" style="padding: 25px 0px;">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>

        <table class="table table-hover">
            <thead class="thead-dark" style="color: white;">
            <tr style="font-weight: bold;">
                <th scope="col">Order ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Order Date</th>
                <th scope="col">Order Time</th>
                <th scope="col">Total Price</th>
                <th scope="col">Order Status</th>
                <th scope="col">Print Report</th>
            </tr>
            </thead>
            <tbody class="order-history-tbody">

            {% for orders in orders %}
            <tr>
                <th scope="row"><a style="color: black;" href="/order_history/{{orders.id}}">GA{{orders.pk}}</a></th>
                <td>{{orders.customer}}</td>
                <td>{{orders.order_date}}</td>
                <td>{{orders.order_time}}</td>
                <td>{{orders.total_price}} TK</td>
                <td>{{orders.status}}</td>
                <td>
                    <button type="submit" class="btn btn-success"><a style="color: white;" href="/order_report/{{orders.id}}">Print</a></button>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </form>
    <div style="width: 50%; margin: auto;">
        {% include 'core/pagination.html' with page=orders %}
    </div>
</div>

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved by Green Agro
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

{% else %}
<h5 style="text-align: center; padding-top: 50px;"><a href="{% url 'login' %}" style="list-style: none;">Login to your
    account first</a></h5>
{% endif %}

<script src="/static/core/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/core/js/popper.js"></script>
<script src="/static/core/js/bootstrap.min.js"></script>
<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});


</script>
</body>
</html>