<div style="width: 25%; margin: auto;">
    <span style="font-size: 15px; font-weight: bold;">
        {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}"><i class="fa fa-angle-double-left"></i> Previous </a>
        {% endif %}

    <span>
        Page {{ page.number }} of {{page.paginator.num_pages }}
    </span>

    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}"> Next <i class="fa fa-angle-double-right"></i></a>
    {% endif %}
    </span>
</div>