<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--    favicon  -->
    <link rel="icon" href="/static/core/img/favicon.png" type="image/gif/png" sizes="16x16">

    <title>Password Reset</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Baumans&family=Montserrat+Alternates:wght@600&family=Orbitron:wght@500&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/core/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/core/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/core/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/core/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/core/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/core/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/core/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/core/css/style.css" type="text/css">

    <!-- Js Plugins -->
    <script src="/static/core/js/jquery-3.3.1.min.js"></script>
    <script src="/static/core/js/bootstrap.min.js"></script>
    <script src="/static/core/js/jquery.nice-select.min.js"></script>
    <script src="/static/core/js/jquery-ui.min.js"></script>
    <script src="/static/core/js/jquery.slicknav.js"></script>
    <script src="/static/core/js/mixitup.min.js"></script>
    <script src="/static/core/js/owl.carousel.min.js"></script>
    <script src="/static/core/js/main.js"></script>
    <script src="/static/core/jquery/jquery-3.6.0.min.js"></script>

</head>
<body>

{#  {% if form.errors %}#}
{#    <p>Your username and password didn't match. Please try again.</p>#}
{#  {% endif %}#}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}


    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">
                <div>
                  <h2 style="text-align: center;">Password reset complete</h2>
                  <h6 style="width: 100%; margin: 0 auto; text-align: center;">
                    Your Password has been set. You may go ahead and login
                  </h6>
                </div>
                <br />
                <div class="text-center">
                  <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>

{#  <form method='POST'>#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <button type='submit'>Submit</button>#}
{#  </form>#}
{#Need An Account? <a href="{% url 'register' %}">Sign Up</a></form>#}
{##}
{#   Assumes you setup the password_reset view in your URLconf #}
{#  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

</body>
</html>