<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/core/img/favicon.png" type="image/gif/png" sizes="16x16">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .row a button:hover {
            border: none;
        }
    </style>

</head>

<body>

{% if user.is_authenticated %}
<hr>
<div class="container bootstrap snippet">
    <div class="row" style="padding-bottom: 20px;">
        <div>
            <a href="{% url 'index' %}" style="text-decoration: none; color: white;">
                <button type="button" class="btn btn-success" style="position: absolute; font-weight: bold; right: 10%; background-color: #7fad39;">
                Go Back to Home</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->


            <div class="text-center">
                <img src="/media/{{user.profile_image}}" class="avatar img-circle img-thumbnail"
                     alt="avatar">
                <h4>{{user.first_name}} {{user.last_name}}</h4>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Email: </h4><i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body"><h5>{{user.email}}</h5></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Activity: </h4><i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body"><a href="{% url 'order_history' %}" style="text-decoration: none;"><h5>View Orders</h5></a></div>
            </div>

        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">User Profile</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>

                    <form class="form" action="#" method="post" id="registrationForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="first_name"><h4>First name</h4></label>
                                <input value="{{user.first_name}}" type="text" class="form-control" name="first_name"
                                       id="first_name" placeholder="first name" title="enter your first name if any.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="last_name"><h4>Last name</h4></label>
                                <input value="{{user.last_name}}" type="text" class="form-control" name="last_name"
                                       id="last_name" placeholder="last name" title="enter your last name if any.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="phone"><h4>Phone</h4></label>
                                <input value="{{user.phone}}" type="text" class="form-control" name="phone" id="phone"
                                       placeholder="enter phone" title="enter your phone number if any.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="inputAddress"><h4>Address</h4></label>
                                <input value="{{user.address}}" type="text" class="form-control" id="inputAddress"
                                       name="inputAddress" placeholder="enter address" title="enter your address if any.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="inputCity"><h4>City</h4></label>
                                <input value="{{user.city}}" type="text" class="form-control" id="inputCity"
                                       name ="inputCity" placeholder="enter city name" title="enter your city.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="inputAddress2"><h4>State</h4></label>
                                <input value="{{user.state}}" type="text" class="form-control" id="inputAddress2"
                                       name="inputAddress2" placeholder="enter state name" title="enter your address if any.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="divcol-md-2 col-xs-6">
                                <label for="inputZip"><h4>Zip</h4></label>
                                <input value="{{user.zip_code}}" type="text" class="form-control" name="inputZip" id="inputZip">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="exampleFormControlFile1"><h4>Upload Photo</h4></label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Update
                                </button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>

                    <hr>

                </div>

            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

{% else %}
<a href="{% url 'login' %}" style="text-decoration: none; text-align: center;"
   title="Green Agro"><h3>Login to the site first</h3></a>

{% endif %}


</body>
</html>